.header {

  border-bottom: 1px solid #EEEFF2;
  @media (min-width: 580px) {

  }
  @media (min-width: 820px) {

  }
  @media (min-width: 1120px) {

  }
}

.publication {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 20%;
}

.button {

  box-sizing: border-box;
  border-style: none;
  background-color: black;
  width: 30px;
  height: 30px;
}