.header {
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 20px;
  @media (min-width: 580px) {

  }
  @media (min-width: 820px) {

  }
  @media (min-width: 1120px) {

  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 20%;
}

.button {

  box-sizing: border-box;
  border: 1px solid black;

  width: 30px;
  height: 30px;

  position: relative;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  -webkit-transition: opacity linear .4s;
  -o-transition: opacity linear .4s;
  transition: opacity linear .4s;
  @media (min-width: 820px) {
    display: none;
  }
}
.button:hover {
  opacity: 0.8;
}

.button:before {
  top: 5px;
  left: 4px;
  content: '';
  position: absolute;
  width: 20px;
  background-color: #000;
  height: 3px;
}

.line {
  top: 13px;
  left: 4px;
  content: '';
  position: absolute;
  width: 20px;
  background-color: #000;
  height: 3px;
}

.button:after {
  left: 4px;
  bottom: 5px;
  content: '';
  position: absolute;
  width: 20px;
  background-color: #000;
  height: 2px;
}