.contacts {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-items: center;

  @media (min-width: 580px) {

  }
  @media (min-width: 820px) {

  }
  @media (min-width: 1120px) {

  }
}

.phone {
  display: flex;
  gap: 4px;
}

.list {
  display: flex;
  gap: 8px;
  list-style-type: none;
  margin: 0;padding: 0;

}

.link {
  border-radius: 4px;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  &:hover,
  &:active {
    color: #780096;
  }

  &:focus-visible
  {
    color: #780096;
    outline-color: #780096;
  }
}

.link2 {
  width: 50px;
  height: 50px;
}