.container {
  background-color: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 17px 13px 20px 13px;

}

.title {
  text-align: left;
  margin: 0;
  font-size: 24px;
}